---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>Architect Your Future</p>
							<p>{{ site.description | markdownify }}</p>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>


				<!-- Two -->
					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/pic16.jpg" alt="" /></div><div class="content">
								<h2>Remote first personal coaching</h2>
								<p>Over video conferencing and instant messaging we can connect to architect your future</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2>A Technical experience shared is a problem halved</h2>
								<p>My experience with your experience can double the possibilities for you</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Lets's communicate synchronously and asynchronously</h2>
								<p>1-1 and batch communications can counter the daily grind to release the mind</p>
							</div>
						</section>
					</section>
				
				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2 style="color:black;">Dec0de Me - Remote First Technical coaching for those on a technical journey</h2>
								<p style="color:black;">Position your challenges as a technical professional from another viewpoint.
								You build, I support.</p>
							</header>
							<ul class="features">
								<li class="icon fa-flag-o">
									<h3 style="color:black;">"What could I do"</h3>
									<p style="color:black;">I can give you a different perspective on your situation and allow you to ask yourself - "What could I do"?</p>
								</li>
								<li class="icon fa-heart-o">
									<h3 style="color:black;">Technical or management ladder?</h3>
									<p style="color:black;">Approaching a cross roads in your career? Contrast this how others have approached this</p>
								</li>
								<li class="icon fa-headphones">
									<h3 style="color:black;">Another framework to learn</h3>
									<p style="color:black;">Technology pace is frenetic and rapid - I can teach you how to be an active learner</p>
								</li>

								<li class="icon fa-paper-plane-o">
									<h3 style="color:black;">Make connections to like minded people</h3>
									<p style="color:black;">The Dec0de Me network could enable a professional connection not possible before</p>
								</li>
								<li class="icon fa-laptop">
									<h3 style="color:black;">Show me your latest work</h3>
									<p style="color:black;">Sprint reviews for personal projects - I am interested to feedback and take part in your projects</p>
								</li>
								<li class="icon fa-code">
									<h3 style="color:black;">Community Links</h3>
									<p style="color:black;">Having high social capital I can signpost you to a community or person to help you further</p>
								</li>

							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>I can see it from your perspective</h2>
								<p>Having been there before I can lend you my experience on how you feel and what you could do. You need to speak to Daniel Woolfson, a highly experienced Manager of Technical professionals with over 20 years of experience of active listening, personal technical coaching and agile practices</p>
							</header>
							<ul class="actions vertical">
								{% if site.email %}
									<li><a href="mailto:{{ "please@dec0de-me.co.uk" | escape }}" class="button fit special">Contact Me</a></li>
								{% endif %}
								{% if site.linkedin-square %}
									<li><a href="https://linkedin.com/in/daniel-woolfson" class="button fit">View Profile</a></li>
								{% endif %}
							</ul>
						</div>
					</section>