---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>Architect Your Future</p>
							<p>{{ site.description | markdownify }}</p>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>


				<!-- Two -->
					<section id="one" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="images/pic16.jpg" alt="" /></div><div class="content">
								<h2>Technical Career coaching</h2>
								<p>&nbsp;&nbsp;&nbsp;
									Realise your personal differentiator</p>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									Leverage your individual knowledge</p>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									Gain an advantage in the Tech industry</p>
								
								
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
								<h2>Your technical potential realised</h2>
								<p>&nbsp;&nbsp;&nbsp;
									Discover the next step on your learning journey in Tech</p>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									Technical Leadership and Subject Matter expert coaching</p>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									Enhance your professional technical contributions</p>
							
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="images/pic02.jpg" alt="" /></div><div class="content">
								<h2>Feel professional and personal growth</h2>
								<p>&nbsp;&nbsp;&nbsp;
									Increase resiliance and raise confidence in interviews</p>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									Tips on writing your CV and presentation of your coding portfolio</p>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									Discover career paths and take action to meet goals</p>
							</div>
						</section>
					</section>
				
				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2 style="color:black;">Dec0de Me - Career coaching for technical professionals</h2>
								<p style="color:black;">Reach your potential in your career and accelerate your learning journey</p>
							</header>

							<ul class="actions vertical">	
								<li><a href="mailto:{{ "hello@dec0de-me.co.uk" | escape }}" class="button fit special">Start Your Journey</a></li>
							</ul>

							<ul class="features">

								<li class="icon fa-paper-plane-o">
										<h3 style="color:black;">Learn how a Software Development Team delivers</h3>
										<p style="color:black;">Ever wondered how successful teams work together and deliver? I can tell you how.</p>
								</li>
								<li class="icon fa-laptop">
									<h3 style="color:black;">Demonstrate your projects to me</h3>
									<p style="color:black;">I am interested to feedback and take part in your own sprint reviews</p>
								</li>
	
								<li class="icon fa-heart-o">
									<h3 style="color:black;">Your career tutor</h3>
									<p style="color:black;">Technical or management ladder? Approaching a cross roads in your career? Contrast this how others have approached this</p>
								</li>
								<li class="icon fa-headphones">
									<h3 style="color:black;">Another framework to learn</h3>
									<p style="color:black;">Technology pace is frenetic and rapid - I can teach you how to be an active learner</p>
								</li>

								
								<li class="icon fa-code">
									<h3 style="color:black;">Meet more like minded people</h3>
									<p style="color:black;">I can signpost you to a dedicated community or expert in your field</p>
								</li>

								<li class="icon fa-flag-o">
									<h3 style="color:black;">Become a thought leader</h3>
									<p style="color:black;">To be an expert is the challenge to be recognised as a leader is the art</p>
								</li>
	

							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Start your journey today</h2>
								<p>Daniel Woolfson has over 20 years experience as a software development professional, the significant part of this as a technical people leader, 
										manager and mentor.  Now a Technical Career Coach, Daniel can lend his career experience to yours.</p>
							</header>
							<ul class="actions vertical">
								{% if site.email %}
									<li><a href="mailto:{{ "hello@dec0de-me.co.uk" | escape }}" class="button fit special">Contact Me</a></li>
								{% endif %}
								{% if site.linkedin-square %}
									<li><a href="https://linkedin.com/in/daniel-woolfson" class="button fit">View Profile</a></li>
								{% endif %}
							</ul>
						</div>
					</section>